* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 511px;
  height: 517px;
  padding: 69px 75px 69px 76px;
  font-family: Karla;
}

main {
  background: #0B2434;
  display: flex;
  width: 360px;
  height: 370px;
  padding: 30px 20px 29px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  justify-content: center; // Horizontal centering
  align-items: center; // Vertical centering
  flex-shrink: 0;
}

.board {
  border-radius: 10px;
  background: #F5F5F5;
  display: flex; // need Flexbox to center everything easily
  width: 320px;
  height: 320px;
  padding: 33.28px 34.56px 33.92px 34.56px;
  justify-content: center; // Horizontal centering
  align-items: center; // Vertical centering
  flex-shrink: 0;
}

.game {}

.dies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; // Horizontal centering
  flex-shrink: 0;
  gap: 17px;

  .die {
    width: 35px;
    height: 35px;
    box-shadow: 1px 2px 5px 0px #0B2434;
    border-radius: 3px;
    border-color: #0B2434;
    display: flex;
    justify-content: center; // Horizontal centering
    align-items: center; // Vertical centering
    flex-shrink: 0;

    .die-value {
      font-size: 18px;
      color: #0B2434;
    }
  }
}