* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0;
  width: 511px;
  height: 517px;
  padding: 69px 75px 69px 76px;
}

main {
  background: #0B2434;
  display: flex;
  width: 360px;
  height: 370px;
  padding: 30px 20px 29px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  justify-content: center; // Horizontal centering
  align-items: center; // Vertical centering
  flex-shrink: 0;
}

.board {
  border-radius: 10px;
  background: #F5F5F5;
  display: flex; // need Flexbox to center everything easily
  width: 320px;
  height: 320px;
  padding: 33px 35px 33px 35px;
  justify-content: center; // Horizontal centering
  align-items: stretch; // H centering
  flex-shrink: 0;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; // V centering
  align-items: center; // H centering
  gap: 20px;

  &>* {
    margin: 0;
  }

  .dies {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 18px;

    .die {
      width: 35px;
      height: 35px;
      box-shadow: 1px 2px 5px 0px #0B2434;
      border-radius: 3px;
      border-color: #0B2434;
      display: flex;
      justify-content: center; // Horizontal centering
      align-items: center; // Vertical centering
      flex-shrink: 0;

      &-value {
        font-size: 1.5rem;
        color: #0B2434;
      }
    }

    .die-held {
      background-color: rgb(77, 252, 83)
    }

    .die-notheld {
      background-color: white
    }
  }

  .rollButton {
    width: 100px;
    height: 30px;
    background-color: gold;
    border-radius: 4px;
    border: none;
    color: #0B2434;
    font-size: 1.1em;
    cursor: pointer;

    &:hover {
      border-color: #0B2434;
    }

    &:active {
      box-shadow: inset 3px 3px 5px -3px rgba(0, 0, 0, 0.7);
    }
  }

  .newgame {
    background-color: red;
  }

}